body {
     /* background-color: violet; */
     /* text-align: center; */
     background-image: url("picture.jpg");
     /* font-style: italic;
     font-size: 30px; */
}

.pg {
    text-shadow: 2px 2px;
    text-align: center;
}

.main-form {
    width: 400px;
    height: 400px;
    text-align: center;
    /* git pubackground: pink; */
    position: relative;
    left: 35%;
}


button{
    background-color: pink;
    font-style: oblique;
    color: black;

    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;

}
